<mat-drawer-container class="example-container" style="height: 100vh;">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="height: 100vh;">
        <div id="sidebar" style="height: 100vh;">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Comité Ético Científico</h2>
                    </header>
                    <!--Menu PRESIDENT-->

                    <ul *ngIf="authService.isPresident()">
                        <li><a [routerLink]="['home']" routerLinkActive="activeOption">Inicio</a></li>
                        <li>
                            <span class="opener" (click)="opener($event)">Miembros</span>
                            <ul>
                                <li><a [routerLink]="['/admin/memberrequest']" routerLinkActive="activeOption"> Solicitud de registro</a></li>
                                <li><a [routerLink]="['/admin/allmembers']" routerLinkActive="activeOption"> Todos los miembros</a></li>

                            </ul>
                        </li>
                        <li>
                            <span class="opener" (click)="opener($event)">Proyectos</span>
                            <ul>
                                <li><a [routerLink]="['/admin/projestrequest']" routerLinkActive="activeOption"> Solicitud de proyectos</a></li>
                                <li><a [routerLink]="['/admin/allprojects']" routerLinkActive="activeOption"> Todos los proyectos</a></li>

                            </ul>
                        </li>
                        <li>
                            <span class="opener" (click)="opener($event)">Noticias</span>
                            <ul>
                                <li><a [routerLink]="['/admin/addnew']" routerLinkActive="activeOption"> Crear noticia</a></li>
                                <li><a [routerLink]="['/admin/editnew']" routerLinkActive="activeOption"> Editar noticias</a></li>

                            </ul>
                        </li>
                    </ul>

                    <!--Fin menu PRESIDENT-->

                    <!--Menu EDITOR-->
                    <ul *ngIf="authService.isEditor()">
                        <li><a [routerLink]="['home']" routerLinkActive="activeOption">Inicio</a></li>
                        <li>
                            <span class="opener" (click)="opener($event)">Proyectos</span>
                            <ul>
                                <li><a [routerLink]="['editor/projestrequest']" routerLinkActive="activeOption"> Solicitud de proyectos</a></li>
                                <li><a [routerLink]="['editor/pendingprojects']" routerLinkActive="activeOption"> Proyectos pendientes</a></li>
                                <li><a [routerLink]="['editor/allprojects']" routerLinkActive="activeOption"> Todos los proyectos</a></li>

                            </ul>
                        </li>
                    </ul>
                    <!--Fin menu EDITOR-->

                    <!--Menu INVESTIGATOR-->
                    <ul *ngIf="authService.isInvestigator()">
                        <li><a [routerLink]="['home']" routerLinkActive="activeOption">Inicio</a></li>
                        <li>
                            <span class="opener" (click)="opener($event)">Proyectos</span>
                            <ul>
                                <li><a [routerLink]="['investigator/addrequest']" routerLinkActive="activeOption"> Crear solicitud</a></li>
                                <li><a [routerLink]="['investigator/allprojects']" routerLinkActive="activeOption"> Todos los proyectos</a></li>


                            </ul>
                        </li>
                    </ul>
                    <!--Fin menu INVESTIGATOR-->

                    <!--Menu REVIEWER-->
                    <ul *ngIf="authService.isReviewer()">
                        <li><a [routerLink]="['home']" routerLinkActive="activeOption">Inicio</a></li>
                        <li><a [routerLink]="['reviewer/investigacionespendientes']" routerLinkActive="activeOption">Investigaciones pendientes</a></li>
                        <li><a [routerLink]="['reviewer/proyectos']" routerLinkActive="activeOption">Proyectos</a></li>

                    </ul>
                    <!--Fin menu INVESTIGATOR-->

                    <!--Menu SECRETARY-->
                    <ul *ngIf="authService.isSecretary()">
                        <li><a [routerLink]="['home']" routerLinkActive="activeOption">Inicio</a></li>
                        <li><a [routerLink]="['secretary/documentospendientes']" routerLinkActive="activeOption">Documentos pendientes</a></li>


                    </ul>
                    <!--Fin menu SECRETARY-->



                </nav>
                <!-- Seccion -->
                <!-- Seccion -->
                <section>
                    <!--<header class="major">
                        <h2>Contacto administrador</h2>
                    </header>-->
                    <!--<p>hohoho ho hohoho ho ho</p>-->
                    <!-- <ul class="contact">
                        <li class="fa-envelope-o"><a href="#">administrador@ubiobio.cl</a></li>
                        <li class="fa-phone">(000) 000-0000</li>
                    </ul>-->
                </section>
                <!-- Footer -->
                <footer class="footer" id="foot">
                    <img src="assets/images/hospital.png" width="300" height="300" alt="UBB">
                    <p class="copyright">Desarrollado por DCCTI & UDSw</p>
                </footer>
            </div>
        </div>
    </mat-drawer>
    <div class="example-sidenav-content">
        <div class="row me-0">

            <div class="col-1 ps-4 pt-2">
                <div class="logo3" (click)="drawer.toggle()">
                    <i class="fa fa-bars fa-2x mt-3 clickable"></i>
                </div>

            </div>
            <div class="col-11 pe-0">

                <header id="header" class="headerburdeo">

                    <!--<a href="#" class="logo"><img src="assets/images/hospital.png" alt="Volver a ICI"></a> -->
                    <div class="logo2">Hospitál Clínico Herminda Martin </div>
                    <div class="icons">
                        <a href="#" style="float:left; font-size:56px; top: -7px;" class="icon fa-user-circle"><span
                class="label">Instagram</span></a>
                        <div style="padding-left: 4.5em; padding-top: 0.6em;">
                            <p>
                                Hola Fernando
                            </p>
                            <p>
                                <select (change)="onChangeRole($event)" [value]="role" id="solicitudsearch-tipo_solicitud" class="form-control" name="SolicitudSearch[tipo_solicitud]">
                                    <option value="PRESIDENT">Presidente</option>
                                    <option value="REVIEWER">Revisor</option>
                                    <option value="EDITOR">Editor</option>
                                    <option value="INVESTIGATOR">Investigador</option>
                                    <option value="SECRETARY">Secretario</option>
                                 </select> | <a href="#">Perfil</a> | <a href="#">Salir</a> </p>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="rastro"><a href="#" class="icon fa-home"><span class="label">Inicio</span></a> <a href="#" class="icon fa-chevron-left"><span class="label">Atrás</span></a> Rastro &gt;&gt; Rastro</div>
        <div class="main">
            <h4>{{pageTitle}}</h4>
            <div class="container">
                <div class="row ml-5">
                    <router-outlet></router-outlet>
                </div>

            </div>

        </div>
    </div>
</mat-drawer-container>