@charset "utf-8";

/* CSS Document */

#sidebar,
#header,
#sidebar2 {
    background: linear-gradient(144deg, #0f58a4, #1a9fe9);
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    background-color: #0f58a4;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    box-shadow: inset 0 0 0 2px #0f58a4;
    color: #0f58a4 !important;
}

ul.pagination li>.page.active,
ul.pagination li.active>.page {
    background-color: #0f58a4;
    color: white;
}