<mat-drawer-container class="example-container" style="height: 100vh;">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="height: 100vh;">
        <div id="sidebar" style="height: 100vh;">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Sistema de Gestión de Carrera</h2>
                    </header>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li>
                            <span class="opener" (click)="opener($event)">Inscripción actividades</span>
                            <ul>
                                <li><a href="#"> Inscribir Actividad</a></li>
                                <li><a href="#"> Mis Actividades</a></li>
                                <li><a href="#"> Nueva Actividad</a></li>
                                <li><a href="#"> Gestionar</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener" (click)="opener($event)">Preinscripción Asignaturas</span>
                            <ul>
                                <li><a href="#"> Preinscribir Asignatura</a></li>
                                <li><a href="#"> Mis Preinscripciones</a></li>
                                <li><a href="#"> Nueva Preinscripción</a></li>
                                <li><a href="#"> Gestionar</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener" (click)="opener($event)">Solicitudes</span>
                            <ul>
                                <li><a href="#"> Nueva Solicitud</a></li>
                                <li><a href="#"> Mis Solicitudes</a></li>
                                <li><a href="#"> Gestionar</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener" (click)="opener($event)">Períodos</span>
                            <ul>
                                <li><a href="#"> Ver Periodos</a></li>
                                <li><a href="#"> Nuevo Periodo</a></li>
                                <li><a href="#"> Gestionar</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener" (click)="opener($event)">Información del Sitio</span>
                            <ul>
                                <li><a href="#"> Nueva Información</a></li>
                                <li><a href="#"> Administrar Información</a></li>
                                <li><a href="#"> Cambiar Orden</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener" (click)="opener($event)">Administración</span>
                            <ul>
                                <li><a href="#"> Cambiar de Rol</a></li>
                                <li><a href="#"> Administrar Roles</a></li>
                                <li><a href="#"> Administrar Noticias</a></li>
                                <li><a href="#"> Mantenedor de Documentos</a></li>
                                <li><a href="#"> Parámetros Generales</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Documentos</a></li>


                    </ul>
                </nav>
                <!-- Seccion -->
                <!-- Seccion -->
                <section>
                    <header class="major">
                        <h2>Contacto administrador</h2>
                    </header>
                    <!--<p>hohoho ho hohoho ho ho</p>-->
                    <ul class="contact">
                        <li class="fa-envelope-o"><a href="#">administrador@ubiobio.cl</a></li>
                        <li class="fa-phone">(000) 000-0000</li>
                    </ul>
                </section>
                <!-- Footer -->
                <footer class="footer" id="foot">
                    <img src="assets/images/logo_ubb.png" width="235" height="70" alt="UBB">
                    <p class="copyright">Desarrollado por DCCTI & UDSw</p>
                </footer>
            </div>
        </div>
    </mat-drawer>
    <div class="example-sidenav-content">
        <div class="row me-0">

            <div class="col-1">
                <div class="logo3" (click)="drawer.toggle()">
                    <i class="fa fa-bars fa-2x mt-3 clickable" ></i>
                </div>

            </div>
            <div class="col-11 pe-0">

                <header id="header" class="headerburdeo">

                    <a href="#" class="logo"><img src="assets/images/logo_ici.png" alt="Volver a ICI"></a>
                    <div class="logo2">Pedagogía en Educación Parvularia Mención Didáctica en Primera Infancia</div>
                    <div class="icons">
                        <a href="#" style="float:left; font-size:56px; top: -7px;" class="icon fa-user-circle"><span
                class="label">Instagram</span></a>
                        <div style="padding-left: 4.5em; padding-top: 0.6em;">
                            <p>
                                Hola Fernando
                            </p>

                            <p>Super Usuario | <a href="#">Perfil</a> | <a href="#">Salir</a> </p>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="rastro"><a href="#" class="icon fa-home"><span class="label">Inicio</span></a> <a href="#" class="icon fa-chevron-left"><span class="label">Atrás</span></a> Rastro &gt;&gt; Rastro</div>
        <div class="main">
            <h4>Elementos para dar formato a cada página</h4>
            <p>Router outlet</p>
        </div>
    </div>
</mat-drawer-container>