.logo3 {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0);
    background: white;
    line-height: 4;
    margin-top: 10px;
    
}

.clickable{
    cursor: pointer;
}

.activeOption{
    background-color: gray ;
    border-radius: 10px;
    
    padding: 10px;
}